build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

*.db

/数据迁移/
/uploads/*
/scores/
*.log
*.json
*.yaml
.npmrc
.prettierrc
.prettierrc.json
eslint.config.js
CLAUDE.md
test.*
